@import 'https://fonts.googleapis.com/css?family=Muli&display=swap';
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  background-color: #245b80;
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  color: #fff;
}

a {
  text-decoration: none;
}

section h1 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.25rem;
  padding: 0 0 2rem;
}

.header-social-links {
  margin: 0.5rem 0 0 1rem;
}
.header-social-links i {
  font-size: 1.5rem;
  padding: 0 1rem;
  text-decoration: none;
}

.home h1 {
  font-size: 1.75rem;
  padding-bottom: 0.75rem;
  text-shadow: 1px 1px 2px #000;
}

.home p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 2px #000;
}

.my-tech-stack h1,
.contact h1 {
  color: #5a5a5a;
}

.my-tech-stack p {
  font-size: 1.1rem;
}

.project-name {
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 0.75rem;
}

.project-info {
  font-size: 0.6rem;
  padding: 0 1rem;
}

.buttons button {
  font-size: 0.8rem;
  padding: 0.15rem 0.3rem;
  margin: 0.25rem;
}

.skills-container {
  color: #494949;
}

.core-skill i {
  font-size: 3rem;
  padding: 20px;
}
.core-skill ul {
  line-height: 1.7rem;
}

.education h3,
.training h3 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
}

.ul-education,
.ul-training {
  font-size: 1rem;
  line-height: 1.8rem;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 0 0 1.75rem;
}

nav {
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}

.navbar-personal {
  padding: 0.5rem;
}

.navbar-personal a,
.header-social-links a i {
  color: #fff;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.25rem;
}
.brand button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  position: relative;
}

.menu-icon i {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  font-size: 2rem;
}

.header-social-links i:hover {
  color: #73c7ff;
}

.menu-desktop {
  display: none;
}

.menu-items,
.menu-items-desktop {
  list-style-type: none;
}

.menu-items li {
  margin: 0.5rem 0;
}

.inactive {
  display: none;
}

.home {
  height: 90vh;
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/home.jpg") no-repeat center center fixed;
  background-size: cover;
}
.home h1 {
  animation: puff-in-center 0.5s;
  -webkit-animation: puff-in-center 0.5s;
}

.profile-picture {
  width: 160px;
  border-radius: 50%;
  padding: 1rem 0;
}

.my-summary {
  animation: slide-in-right 1s;
  -webkit-animation: slide-in-right 1s;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.my-tech-stack {
  background-color: #fff;
  color: #000;
  padding: 4rem 0.75rem 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-stack {
  text-align: center;
  margin-bottom: 4rem;
  max-width: 1000px;
}

.tech-skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-container {
  padding: 0.5rem;
}
.skill-container img {
  height: 75px;
  padding: 1rem;
}
.skill-container img:hover,
.skill-container img:focus {
  transform: scale(1.2);
}
.skill-container p {
  font-size: 0.9rem;
}

.projects {
  background: url("../images/home.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 4rem 0.75rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 1000px;
}

.project-container {
  display: relative;
  min-width: 200px;
  max-width: 1000px;
  margin: 0.75rem;
}

.project {
  width: 100%;
}
.project img {
  display: block;
  border-radius: 5px;
  width: 100%;
}

.project-desc-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  transition: 0.5s ease;
  opacity: 0;
  border-radius: 5px;
}

.project-desc-container:hover {
  opacity: 1;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
}

.project-description:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 10px, inset rgba(0, 0, 0, 0.15) 0px -10px 10px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 10px, inset rgba(0, 0, 0, 0.15) 0px -10px 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.designs {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0.75rem;
  margin: 0;
}
.designs h1 {
  padding-bottom: 1rem;
}

.designs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1100px;
}

.design-container {
  text-align: center;
  padding: 1rem;
  max-width: 350px;
  margin: 0 auto;
}
.design-container img {
  width: 100%;
  border-radius: 5px;
}

.design-container img:hover,
.design-container img:focus {
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.4);
}

.section-skills {
  background: url("../images/home.jpg") no-repeat center center fixed;
  text-align: center;
  padding: 4rem 0.75rem;
}

.skills-container {
  display: grid;
  justify-content: center;
  row-gap: 1rem;
}

.core-skill {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  margin: 0;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.core-skill ul {
  list-style-type: none;
  padding-top: 8px;
  margin: 0;
  padding: 0 0 10px 0;
}
.core-skill hr {
  margin: 0 10% 0.5rem;
  border: 1px solid var(--fc-primary);
}
.core-skill i {
  color: #245b80;
}

.education-training {
  background-color: #245b80;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0.75rem;
  margin: 0;
}

.edu-training-container {
  text-align: left;
}

.education,
.training {
  padding: 2rem 0;
}

.contact {
  padding: 4rem 0 6rem;
  background-color: #fff;
  color: #000;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-form button {
  color: #fff;
  background-color: #245b80;
  padding: 0.5rem 0;
  border: 2px solid #245b80;
  border-radius: 5px;
  margin-top: 0.25rem;
}
.contact-form button:hover {
  color: #000;
  background-color: #fff;
}

.entry {
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
}
.entry label {
  margin: 0.15rem 0;
}
.entry input,
.entry textarea {
  padding: 0.5rem 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
}

footer {
  color: #fff;
}

.fa-angle-up {
  color: #fff;
  padding: 1rem 0 0.75rem;
}

.footer-nav {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px;
}

.footer-nav-link:hover {
  font-weight: bold;
}

.footer-social-links {
  font-size: 2rem;
}
.footer-social-links a {
  color: #fff;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
}

.fa-angle-up:hover,
.footer-social-icon:hover {
  color: #73c7ff;
}

footer hr {
  border: 1px solid #fff;
  width: 60vw;
  margin: 1rem auto 0.2rem;
}

.copyright {
  margin: 0;
  padding: 1rem 0;
}

@media (min-width: 690px) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    margin: 0;
    padding-bottom: 1rem;
  }

  .navbar-personal {
    max-width: 1400px;
    margin: 0 auto;
  }

  .menu-desktop {
    display: block;
  }

  .menu-items-desktop {
    display: flex;
    margin: 0;
  }
  .menu-items-desktop li {
    padding: 0rem 2rem;
  }
  .menu-items-desktop a {
    text-decoration: none;
    transition: all 100s ease-out;
    -webkit-transition: all 100ms ease-out;
  }
  .menu-items-desktop a:hover {
    text-decoration: none;
    border: 3px solid #fff;
    padding: 0.25rem 0.75rem;
  }

  .menu {
    display: none;
  }

  .home h1 {
    font-size: 3.25rem;
  }

  .home p {
    font-size: 1.75rem;
  }

  .skill-container img {
    height: 100px;
    padding: 1rem;
  }

  .project-name {
    font-size: 2rem;
  }

  .project-info {
    font-size: 1.2rem;
    max-width: 60%;
  }

  .buttons button {
    font-size: 1.25rem;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem;
  }

  .skills-container {
    grid-template-columns: 320px 320px;
    column-gap: 1rem;
  }

  .ul-skills {
    font-size: 1.15rem;
    line-height: 2rem;
  }

  .education h3,
.training h3 {
    font-size: 1.5rem;
  }

  .ul-education,
.ul-training {
    font-size: 1.15rem;
    line-height: 2.25rem;
  }
}
