$bg-color1: #3e9bda;
$bg-color2: #245b80;
$bg-color3: rgb(255, 255, 255, .0);
$bg-color4: #73c7ff;
$bg-color5: rgb(0, 0, 0, .2);

$ft-color1: #fff;
$ft-color2: #5a5a5a;
$ft-color3: #000;
$ft-color4: #494949;
